html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	background: #d0d0d0;
}

/* Use OS default fonts */
body {
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga', 'clig', 'kern';
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 30%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

.exit {
	position: absolute;
	top: 3%;
	left: 3%;
}

header h1 {
	font-size: 60px;
	font-weight: 200;
	margin: 0;
	padding: 0;
	opacity: 0.7;
	user-select: none;
}

footer {
	text-align: center;
	font-size: 10px;
	position:fixed;
	left:0px;
	bottom:0px;
	height: 14px;
	width:100%;
	user-select: none;
}

button {
	background-color: #e7e7e7; /* Green */
	border: none;
	border-radius: 8px;
	color: black;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	margin: 4px 2px;
	transition-duration: 0.3s;
	cursor: pointer;
}

button:hover {
	background-color: #bdbdbd;
}

.sudoku-cell .cell-highlight{
	background-color: #c6c6c6;
}

table {
	margin: auto;
	margin-top: 3%;
  }
  tr {
	  height:48px;
  }
  td {
	width: 48px;
	height: 48px;
	padding: 2px;
  }
  .sudoku-cell .hover {
	  color: #333333;
  }
  .sudoku-cell input {
	text-align: center;
	font-size: 36px;
	border-radius: 12px;
	border: 1px solid #d0d0d0;
	background-color: #e7e7e7;
	transition-duration: 0.3s;
	outline:none;
  }
  button {
	  outline:none;
	  border:none;
  }


  .sudoku-cell input:hover{
	background-color: #bdbdbd;
  }

  .sudoku-cell input:focus{
	background-color: #bdbdbd;
  }

  input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}


.centerButt{
	position: absolute;
	margin-top:2%;
	left:50%; 
	width: 250px;
	margin-left:-125px;
	text-align:center;
}

p {
	user-select: none;
}

.sudoku {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 0 0;
	margin: auto;
	margin-top: 3%;
	width: 572px;
	height: 572px;
  }

  .wrong {
	  border: 2px solid red;
  }
  
  .sudoku-square {
	background-color: #d0d0d0;
	border: 3px solid #bdbdbd;
	border-radius: 12px;
	width: 178px;
	height: 178px;
	display: grid;
	grid-template-columns: repeat(3, auto);
  }
  
  .sudoku-cell {
	width: 48px;
	height: 48px;
	padding: 4px;
	text-align: center;
  }

  .sudoku-cell input[type=number] {
	  width:100%;
	  height:100%;
  }

  .sudoku-cell input[type=number]:disabled {
		color: #999999
  }

  button:disabled {
	color: #999999
	}

  /* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #d0d0d0;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	text-align: center;
	user-select:none;
  }
  